/*reset.css*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style:normal;
}
code, kbd, pre, samp {
    font-family:couriernew, courier, monospace;
}
small {
    font-size:12px;
}
ul, ol {
    list-style:none;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
sup {
    vertical-align:text-top;
}
sub{
    vertical-align:text-bottom;
}
legend {
    color:#000;
}
fieldset, img {
    border:0;
}
button, input, select, textarea {
    font-size:100%;
}
table {
    border-collapse:collapse; border-spacing:0;
}
/*万能清除浮动*/
.clearfix:after {
    content: "." ;
    display: block ;
    visibility: hidden ;
    height: 0 ;
    clear: both ;
}
